
Pre-processing/dataset/anchor_points_dataset/shape_descriptors_data_points.csv
Pre-processing/dataset/anchor_points_dataset/rotated_data_points.csv
Pre-processing/dataset/anchor_points_dataset/pairwise_data_points.csv
